@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Nova+Mono&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    box-sizing: border-box;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    border: 1px solid;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-image: url("images/camera.png");
    background-repeat: no-repeat;
    background-position: center;
}

.profile-description {
    width: 700px;
    margin: 25px;
}

.profile-description > p:nth-child(1) {
    font-size: 36px;
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
}

.profile-description > p:nth-child(2) {
    font-size: 18px;
    text-align: justify;
}

.cards-container {
    /* width: 1200px; */
    height: auto;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-right: 200px;
}

.card {
    margin: 10px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px rgb(204, 228, 233);
}

img {
    width: 300px;
    height: 260px;
    background-color: rgb(234, 230, 230);
    object-fit: cover;
    border: 1px solid white;
    border-radius: 10px 10px 0px 0px;
}

.text-content {
    width: 250px;
    height: 270px;
    padding: 15px;
}

.categories {
    display: flex;
    flex-direction: row;
    gap: 13px;
}

.categories > p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.cat-1-blue {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    background-color: #6ac9f2;
    border: 1px solid #63ece7;
    background: linear-gradient(#6ac9f2, #63ece7);
    border-radius: 25px;
}

.link {
    margin-top: 20px;
    display: flex;
}

.text {
    margin-top: 30px;
    display: none;
}

.text > p {
    font-family: "Karla", sans-serif;
    font-style: normal;
    text-align: justify;
}

.title {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 5px;
}

.year {
    font-style: italic;
    font-size: 18px;
}

.author {
    margin-top: 0;
    color: rgb(178, 184, 187);
    font-size: 17px;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button-resume {
    width: 150px;
    height: 30px;
    border: 1px solid #63ece7;
    background-color: #6ac9f2;
    border-radius: 5px;
    cursor: pointer;
}

.button-resume:hover {
    opacity: 0.8;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    box-shadow: 3px 3px 3px #63ece7;
}

.trailer-link:hover {
    opacity: 0.8;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

.show {
    display: block;
}


/****************** Media Queries *******************/
@media screen and (max-width: 1403px) {
    .cards-container {
       margin-left: 50px;
       margin-right: 50px;
    }
}

@media screen and (max-width: 948px) {
    .profile {
        flex-direction: column;
    }

    .profile-description {
        width: 500px;
    }

    .profile-description > p:nth-child(1) {
        text-align: center;
    }
}

@media screen and (max-width: 588px) {

    .profile-description {
        width: 360px;
    }
}